h1, h2, h3, h4, h5, h6, p {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: white;
}
.row {
    line-height: 1000px;
}
img {
    width: 100%;
    max-width: 600px;
}
.dlLink, h2 {
    font-size: 22pt;
    margin-bottom: 10px;
}
.dlLink {
    background-color: purple;
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin-top: 10px;
}
.dlLink:hover {
    background-color: rgb(214, 64, 207);
}
@media screen and (max-width: 959px) {
    .dlLink {
        font-size: 18pt;
    }
}